{% extends 'form_div_layout.html.twig' %}

{% block field_rows %}
{% spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock field_rows %}

{% block form_row %}
{% spaceless %}
    {% set class='form-control' %}
    {% if attr.class is defined %}
        {% set class = class ~ ' ' ~ attr.class  %}
    {% endif %}
    <div class="form-group">
        {{ form_label(form, label|trans) }}
        {{ form_widget(form, { 'attr': {'class': class} }) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{{ error.message|trans }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block control_widget %}
{% spaceless %}
<ul class="control">
    <li><button type="submit" id="{{ id }}" name="{{ full_name }}" class="btn btn-primary">{{ label|trans({}, translation_domain) }}</button></li>
    {% if back_url %}
    <li><a href="{{ back_url }}" class="btn btn-default">{{ back_label|trans({}, translation_domain) }}</a></li>
    {% endif %}
    {% if delete_url %}
    <li><a onclick="return confirm('{{ delete_message|trans({}, translation_domain) }}');" href="{{ delete_url }}" class="btn btn-danger">{{ delete_label|trans({}, translation_domain) }}</a></li>
    {% endif %}
</ul>
{% endspaceless %}
{% endblock %}