<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% if page_title is defined %}{{ page_title }} - {% endif %}Finances</title>
        {% stylesheets
            '@KassnerFinancesBundle/Resources/public/css/bootstrap.min.css'
            '@KassnerFinancesBundle/Resources/public/css/bootstrap-theme.min.css'
            '@KassnerFinancesBundle/Resources/public/css/main.css'
            '@KassnerFinancesBundle/Resources/public/css/datepicker.css'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('home') }}">Finances</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('transaction') }}">Transactions</a></li>
                    <li><a href="{{ path('account') }}">Accounts</a></li>
                    <li><a href="{{ path('category') }}">Categories</a></li>
                    <li><a href="{{ path('payee') }}">Payees</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {% javascripts
            '@KassnerFinancesBundle/Resources/public/js/jquery-1.10.2.min.js'
            '@KassnerFinancesBundle/Resources/public/js/bootstrap.min.js'
            '@KassnerFinancesBundle/Resources/public/js/bootstrap-datepicker.js'
            '@KassnerFinancesBundle/Resources/public/js/main.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>