{% extends 'KassnerFinancesBundle::layout.html.twig' %}

{% block body -%}
<div class="crud">
    <h1>{% if account.name is not null %}{{ account.name }}{% else %}{{ "Transactions"|trans }}{% endif %}</h1>

    <div class="control">
        <a class="btn btn-success" href="{{ path('transaction_new', { 'account': account.id }) }}">{{ "Add"|trans }}</a>
        <a class="btn btn-default pull-right" data-toggle="collapse" href="#search-panel">{{ "Search"|trans }}</a>
        <div class="clearfix"></div>
    </div>

    <div class="panel panel-default panel-collapse collapse {% if showSearch %}in{% else %}out{% endif %}" id="search-panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{ "Search"|trans }}</h3>
        </div>
        <div class="panel-body">
            {{ form(search_form) }}
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{{ "Id"|trans }}</th>
                <th>{{ "Status"|trans }}</th>
                <th>{{ "Category"|trans }}</th>
                <th>{{ "Payee"|trans }}</th>
                <th>{{ "Date"|trans }}</th>
                <th>{{ "Amount"|trans }}</th>
                <th>{{ "Balance"|trans }}</th>
                <th width="170">{{ "Actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% set balance = 0 %}
            {% for entity in entities %}
            <tr class="{% if not entity.isReconciled %}warning{% endif %}">
                <td>{{ entity.id }}</td>
                <td>{% if entity.isReconciled %}Reconciled{% else %}Unreconciled{% endif %}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.payee }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d/m/Y') }}{% endif %}</td>
                <td>
                    {% if entity.type == 'expense' or (entity.type == 'transfer' and account.id == entity.account.id) %}
                    {% set balance = balance + (entity.amount * -1) %}
                    {{ (entity.amount * -1)|price }}
                    {% else %}
                    {% set balance = balance + entity.amount %}
                    {{ entity.amount|price }}
                    {% endif %}
                </td>
                <td>{{ balance|price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('transaction_edit', { 'id': entity.id }) }}">{{ "Edit"|trans }}</a>
                    <a class="btn btn-danger" href="{{ path('transaction_delete', { 'id': entity.id }) }}" onclick="return confirm('{{ "Are you sure?"|trans }}');">{{ "Delete"|trans }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="control">
        <a class="btn btn-success" href="{{ path('transaction_new', { 'account': account.id }) }}">{{ "Add"|trans }}</a>
    </div>
</div>
{% endblock %}
